AWS_REGION=us-east-1
APP_NAME=helloecs
CONTAINER_PORT=8080

# Filled from cdk deploy outputs:
ECR_REPO_URI=237216011806.dkr.ecr.us-east-1.amazonaws.com/helloecs-repo
ECS_CLUSTER=helloecs-cluster
ECS_SERVICE=helloecs-service
ALB_URL=http://helloecs-alb-1879569105.us-east-1.elb.amazonaws.com